<section class="about section" id="about">
  <div class="container">
    <div class="about__wrapper">
      <div class="about__left">
        <h2 class="about__title">О приложении</h2>
        <div class="about__text">
          <p>
            Progressive — это приложение для лайф-менеджмента. Сфокусируйтесь на
            действительно значимых целях, чтобы сделать жизнь более
            сбалансированной, наполненной и счастливой.
          </p>
          <p>
            Оценивайте баланс жизненных сфер, формулируйте долгосрочные цели,
            воплощайте планы действий, отслеживайте прогресс
          </p>
        </div>
        <button
          class="about__btn btn"
          type="button"
          data-fancybox
          data-src="https://www.youtube.com/watch?v=pb-j3svRQLI"
        >
          Смотреть видео
        </button>
      </div>
      <video class="about__video" src="interface.mp4" autoplay loop muted></video>
    </div>
  </div>
</section>
