<section class="benefits">
  <div class="container">
    <h2 class="visually-hidden">преимущества</h2>
    <ul class="benefits__list">
      <li class="benefits-item">
        <img class="benefits-item__img" src="img/benefits/1.svg" alt="" />

        <div class="benefits-item__info">
          <span class="benefits-item__title">Лайф-менеджмент</span>
          <p class="benefits-item__text">
            Управляйте своей жизнью в целом, а не просто списком дел
          </p>
        </div>
      </li>
      <li class="benefits-item">
        <img class="benefits-item__img" src="img/benefits/2.svg" alt="" />

        <div class="benefits-item__info">
          <span class="benefits-item__title">Фокус на приоритетах</span>
          <p class="benefits-item__text">
            Сосредоточьтесь на долгосрочных целях, чтобы добиваться прогресса
            в приоритетных сферах жизни
          </p>
        </div>
      </li>
      <li class="benefits-item">
        <img class="benefits-item__img" src="img/benefits/3.svg" alt="" />

        <div class="benefits-item__info">
          <span class="benefits-item__title">Гибкое планирование</span>
          <p class="benefits-item__text">
            Используйте тонкую настройку задач и привычек с привязкой к целям
            и сферам жизни
          </p>
        </div>
      </li>
      <li class="benefits-item">
        <img class="benefits-item__img" src="img/benefits/4.svg" alt="" />

        <div class="benefits-item__info">
          <span class="benefits-item__title">Анализ прогресса</span>
          <p class="benefits-item__text">
            Отслеживайте прогресс в достижении целей и формировании привычек
            на основе подробной статистики
          </p>
        </div>
      </li>
      <li class="benefits-item">
        <img class="benefits-item__img" src="img/benefits/5.svg" alt="" />

        <div class="benefits-item__info">
          <span class="benefits-item__title">Конфиденциальность</span>
          <p class="benefits-item__text">
            Обеспечиваем надежную защиту информации с помощью протокола HTTPS и
            безопасного хранения в облаке
          </p>
        </div>
      </li>
      <li class="benefits-item">
        <img class="benefits-item__img" src="img/benefits/6.svg" alt="" />

        <div class="benefits-item__info">
          <span class="benefits-item__title">Синхронизация</span>
          <p class="benefits-item__text">
            Обновленные данные на одном устройстве автоматически
            синхронизируются на всех ваших устройствах
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
