<header class="header">
  <!-- Mobile Menu -->
  <div class="overlay"></div>

  <div class="container">
    <nav class="header__wrapper">
      <a class="header__logo" href="index.html">
        <img src="img/logo-fav.svg" alt="" />
      </a>

      <div class="header__menu menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link" href="#about">О приложении</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#method">Метод Progressive</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#advantages">Возможности</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#subscription">Тарифы</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#contacts">Контакты</a>
          </li>
        </ul>
      </div>

      <button class="header__toggle" type="button" aria-label="Открыть меню">
        <span class="header__toggle-line"></span>
        <span class="header__toggle-line"></span>
        <span class="header__toggle-line"></span>
      </button>
    </nav>
  </div>
</header>
