<section class="hero">
  <lottie-player
    src="hero_bg_new.json"
    loop
    autoplay
    class="hero__bg"
  ></lottie-player>
  <lottie-player
    src="hero_bg_big_new.json"
    loop
    autoplay
    class="hero__bg hero__bg--big"
  ></lottie-player>

  <lottie-player src="man.json" loop autoplay class="hero__man"></lottie-player>

  <!-- Man -->
  <!-- <lottie-player
    src="animations/man.json"
    loop
    autoplay
    class="hero__man"
  ></lottie-player> -->
  <!-- Flag & BG -->
  <!-- <lottie-player
    src="animations/flag_bg.json"
    loop
    autoplay
    class="hero__flag"
  ></lottie-player> -->
  <!-- Land 1 -->
  <!-- <lottie-player
    src="animations/land_1.json"
    loop
    autoplay
    transparent
    class="hero__land hero__land--1"
  ></lottie-player> -->
  <!-- Land 2 -->
  <!-- <lottie-player
    src="animations/land_2.json"
    loop
    autoplay
    class="hero__land hero__land--2"
  ></lottie-player> -->
  <!-- Land 3 -->
  <!-- <lottie-player
    src="animations/land_3.json"
    loop
    autoplay
    class="hero__land hero__land--3"
  ></lottie-player> -->

  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__offer">
        <img class="hero__logo" src="img/logo-text.svg" alt="img" />
        <p class="hero__text">
          Больше чем планирование: искусство самореализации
        </p>
        <button class="hero__btn btn launch-btn" type="button">
          Сообщите о запуске
        </button>
      </div>
    </div>
  </div>
</section>

<!-- background="transparent"
  speed="1"
  style="width: 100%; height: 100%" -->
