<section class="join">
  <div class="container">
    <div class="join__wrapper">
      <div class="join__left">
        <h2 class="join__title">Присоединяйтесь</h2>
        <p class="join__text">
          С бесплатной версией приложения можно использовать базовые функции
          всех разделов без ограничения по времени
        </p>

        <div class="join__img join__img--mobile">
          <!-- <picture>
            <source srcset="img/join-img.webp" type="image/webp" />
            <img src="img/join-img.png" alt="img" />
          </picture> -->
          <img src="img/gears.gif" alt="">
        </div>
        <button class="join__btn btn" type="button">Начать бесплатно</button>
      </div>
      <div class="join__img">
        <!-- <picture>
          <source srcset="img/join-img.webp" type="image/webp" />
          <img src="img/join-img.png" alt="img" />
        </picture> -->
                  <img src="img/gears.gif" alt="">
      </div>
    </div>
  </div>
</section>
