<section class="method section" id="method">
  <div class="container">
    <div class="method__top">
      <h2 class="method__title">Метод Progressive</h2>

      <div class="method__text">
        <p>
          Полагаясь в планировании дня только на списки дел, мы управляем своей
          жизнью стихийно. Такой подход неминуемо приводит к стрессу и
          жизненному дисбалансу.
        </p>
        <p>
          Осознанное управление жизнью начинается с изменения образа мышления.
          Перед тем как ответить на вопрос «Что я буду делать?» задайте себе
          вопросы «Что я хочу?» и «Почему я хочу этого?». Таким образом вы
          сосредоточитесь на значимых целях, а не на страхах, мгновенных
          удовольствиях или ожиданиях окружающих.
        </p>
        <p>И в этом поможет пошаговое планирование по методу Progressive</p>
      </div>
    </div>
    <ul class="method__list">
      <li class="method-item">
        <img class="method-item__img" src="img/method/1.png" alt="img" />

        <div class="method-item__body">
          <span class="method-item__title">Шаг 1: Поставьте цель</span>
          <div class="method-item__text">
            <p>Главный вопрос: «Что я хочу?»</p>
            <p>
              Четко сформулируйте, что вы хотите добиться, достигнув цели. А
              инструмент «Колесо баланса» поможет расставить жизненные
              приоритеты
            </p>
          </div>
        </div>
      </li>
      <li class="method-item">
        <img class="method-item__img" src="img/method/2.png" alt="img" />

        <div class="method-item__body">
          <span class="method-item__title">Шаг 2: Определите мотивацию</span>
          <div class="method-item__text">
            <p>Главный вопрос: «Почему мне важно добиться желаемого?»</p>
            <p>
              Постарайтесь понять, почему вы на самом деле стремитесь к цели.
              Это поможет привлечь ресурсы и победить прокрастинацию
            </p>
          </div>
        </div>
      </li>
      <li class="method-item">
        <img class="method-item__img" src="img/method/3.png" alt="img" />

        <div class="method-item__body">
          <span class="method-item__title">Шаг 3: Действуйте по плану</span>
          <div class="method-item__text">
            <p>Главный вопрос: «Что мне нужно сделать, чтобы прийти к цели?»</p>
            <p>
              Составьте пошаговый план действий. Отслеживайте прогресс, анализируйте ошибки, корректируйте направление
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
