<section class="owner">
  <div class="container">
    <div class="owner__wrapper">
      <div class="owner__left">
        <h2 class="owner__title">Слово от создателей</h2>
        <div class="owner__text">
          <p>
            «Мы знаем, как трудно сохранять мотивацию и не терять себя
            в бесконечном потоке дел и обязанностей.
          </p>
          <p>
            Мы сталкивались с этим не раз. И однажды поняли, что традиционные
            техники и инструменты планирования на основе принципа «делай больше
            за меньшее время» не годятся для управления жизнью. Поэтому мы
            решили создать систему, которая поможет сфокусироваться на важных
            вещах и улучшить качество жизни.
          </p>
          <p>
            В основе Progressive лежат практики лайф-менеджмента, которые
            позволяют переключить внимание с задач на результаты и связать
            ежедневные усилия с достижением долгосрочных целей.
          </p>
          <p>
            С Progressive вы добьетесь большего, получите удовлетворение
            от процесса.
          </p>
          <p>Верните контроль над своей жизнью вместе с Progressive!»</p>
        </div>
      </div>
      <div class="owner__right owner-right">
        <div class="owner-right__imgs">
          <div class="owner-right__img">
            <picture>
              <source srcset="img/owner/1.webp" type="image/webp" />
              <img src="img/owner/1.png" alt="img" />
            </picture>
          </div>
          <div class="owner-right__img">
            <picture>
              <source srcset="img/owner/2.webp" type="image/webp" />
              <img src="img/owner/2.png" alt="img" />
            </picture>
          </div>
        </div>
        <div class="owner-right__text">
          <span class="owner-right__name">Илья Нилов</span>
          <span class="owner-right__name">Татьяна Бирюкова</span>
          <span>Создатели</span>
        </div>
      </div>
    </div>
  </div>
</section>
