<section class="subscription section" id="subscription">
  <div class="container">
    <div class="subscription__wrapper">
      <div class="subscription__left">
        <h2 class="subscription__title">Подписка Progressive Premium:</h2>

        <ul class="subscription__list">
          <li class="subscription__item">
            Добавление 4 индивидуальных сфер жизни
          </li>
          <li class="subscription__item">Неограниченное количество целей</li>
          <li class="subscription__item">Неограниченное количество привычек</li>
          <li class="subscription__item">
            Возможность установить до 7 напоминаний на задачу
          </li>
          <li class="subscription__item">
            Возможность установить код доступа для входа в приложение
          </li>
        </ul>
      </div>
      <ul class="subscription__items">
        <li class="subscription-item subscription-item--big">
          <div class="subscription-item__inner">
            <img
              class="subscription-item__icon"
              src="img/star-fill.svg"
              alt="img"
            />
            <span class="subscription-item__term">12 месяцев</span>
            <span class="subscription-item__price">за 1190 ₽</span>

            <button class="subscription-item__btn" type="button">
              99 ₽ / мес
            </button>
          </div>

          <div class="subscription-item__img">
            <picture>
              <source srcset="img/trophie.webp" type="image/webp" />
              <img src="img/trophie.png" alt="img" />
            </picture>
          </div>
        </li>
        <li class="subscription-item">
          <div class="subscription-item__inner">
            <img
              class="subscription-item__icon"
              src="img/star-dark.svg"
              alt="img"
            />
            <span class="subscription-item__term">1 месяцев</span>
            <span class="subscription-item__price">за 279 ₽</span>

            <button class="subscription-item__btn" type="button">
              279 ₽ / мес
            </button>
          </div>
        </li>
        <li class="subscription-item">
          <div class="subscription-item__inner">
            <img
              class="subscription-item__icon"
              src="img/star-dark.svg"
              alt="img"
            />
            <span class="subscription-item__term">3 месяцев</span>
            <span class="subscription-item__price">за 449 ₽</span>

            <button class="subscription-item__btn" type="button">
              149 ₽ / мес
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
